[Unit]
Description=Huur Scraper Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/jordy207/huur-scraper
ExecStart=/home/jordy207/huur-scraper/.venv/bin/python -m src.main --once
EnvironmentFile=/home/jordy207/huur-scraper/.env
StandardOutput=journal
StandardError=journal
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
