[Unit]
Description=Run Huur Scraper every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=30s
Unit=huur-scraper.service

[Install]
WantedBy=timers.target
